.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  font-size: 100px;
}

@media only screen and (max-width: 600px) {
  .text-center {
    font-size: 25px;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.flex-item {
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 50px;
  width: 20%;
  font-size: 20px;
  text-align: center;
  background-color: rgb(249, 248, 249);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.flex-item2 {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  width: 500px;
  background-color: rgb(249, 248, 249);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.lil-form {
  height: 100px;
  font-size: 35px;
  text-align: center;
}

.big-form {
  height: 220px;
  outline: none;
  font-size: 15px;
  border: none;
}

.big-form:hover {
  cursor: default;
}

.form-flex {
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 5px;
  flex-direction: column;
}

.form1 {
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .flex-item {
    font-size: 15px;
    margin-left: 7px;
    margin-right: 7px;
    width: 49%;
    margin-top: 40px;
  }
}

.button {
  border: none;
  background-color: rgb(27, 26, 27);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  transition: 0.6s;
}

.button:hover {
  background-color: #fefdfa;
  transition: 0.6s;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  color: rgb(21, 20, 20)
}

.cword-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90%;
  width: 97%;
  font-size: 30px;
}

input:focus {
  outline: none;
}