<%= render_component "navbar" %>
<div class="flex-container2">
  <p class="flex-item">Funny Words - это новейшее<br/>изобретение человечества,<br/>поставщик наиболее смешных слов на<br/> планете Земля!</p>
  <p class="flex-item">Вторая ротация бочки<br/>кала</p>
</div>