<head>
  <meta charset="utf-8">
  <title>Funny Words</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/navbar.css">
  <link rel="stylesheet" href="./css/fwordsweb.css">
  <link rel="stylesheet" href="./css/login.css">

  <link rel="icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <script src="/javascript/words.js"></script>
</head>